.nav-link-text {
  color: #29244d;
  font-size: 18px;
  padding-left: 1rem;
  font-weight: 500;
}

.nav-link-text:hover {
  text-decoration: none;
}

.custom-logout-btn {
  color: white;
  display: flex;
  align-items: center;
  width: 110px;
  justify-content: space-between;
  border: 1px solid rgb(247, 85, 85);
  border-radius: 20px;
  margin-left: 5px;
  padding-left: 5px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .nav-link-text {
    padding-left: 0px;
  }
}